<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>{{name}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Shreyhas Yachamaneni">
  <script src="float-panel.js"></script>

  <!-- CSS Import -->
  <link rel="stylesheet" href="{% static 'bootstrap_4.0.0/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link href="https://fonts.googleapis.com/css2?family=Ubuntu&display=swap" rel="stylesheet" type = "text/css">


  <!-- jQuery, Popper, js import -->
  <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap_4.0.0/js/bootstrap.min.js' %}"></script>


  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>

  <style>
  .vertical-align-middle {
    vertical-align: middle;
}


.padding-bottom-3 {
    padding-bottom: 3px;
}
.input-date { width: 300px}

  </style>
</head>
<body>

<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'loginview' %}">
    <img src = "{% static 'images/Logo.png' %}" alt = "Logo" style="width:60px;height:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <button type = "button" class="dropdown-item" href="#" disabled>User ID: {{user_id}}</button>
      <div class="btn-group">
        <button type="button" class="btn bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{name}}<span class = "caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
        </div>
      </div>
      <button type="button" class="btn bg-light" data-container="body" data-toggle="popover" data-trigger = "focus" data-placement="bottom" data-content = "Notifications Here">
        <span class="material-icons">mail</span>
      </button>
      <button type="button" class="btn bg-light">
        <span class="material-icons">help</span>
      </button>
      <a href = "{% url 'logout' %}"><button type = "button" class = 'btn btn-danger'>
        <i class="material-icons vertical-align-middle padding-bottom-3">login</i>
      </button></a>
    </div>
  </div>
</nav>
<p></p>
<div class="text-right">
  <div class="btn-group" role="group" aria-label="Features">
    <button type="button" class="btn btn-sm bg-grey" data-toggle="modal" data-target="#exportmodal">
      <span class = "material-icons">download</span>
    </button>
    <a id = "blanklink " href="{% url 'loginview' %}"><button type="button" class="btn btn-sm bg-grey">
      <span class = "material-icons">contact_page</span>
    </button></a>
  </div>
</div>


<!-- Class View -->
<div class = 'container-fluid'>
  <div class = 'row'>
    <div class = 'col-8'>
    <div class="text-center">
    <div class="form-group row justify-content-center">
        <input class="form-control input-date" type="date" value="{{fdate}}" id="datepicker" name="datepicker" disabled>
    </div>
    </div>

    <table class="table table-striped table-bordered">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Class</th>
          <th scope="col">Teacher</th>
        </tr>
      </thead>
      <tbody>
        {% for class in classes %}
          <tr>
            <th scope="row">{{class.classref.id}}</th>
            <td><a href = "{% url 'classdetails' class.classref.id class.id %}">{{class.classref}}</a></td>
            <td>{{class.teacherref}}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    </div>
    <div class = "col-4">
      <div class = 'container-fluid text-center'>
      <!-- Grade Selector -->
      <br><br>
      <h5><strong>Grade Selector</strong></h5>
      <div class="form-group">
        <select class="form-control" id="gradeselect" name="gradeselect" disabled>
        <option class="grade-button" id = "0" value = "0">KG</option>
        <option class="grade-button" id = "1" value = "1">1</option>
        <option class="grade-button" id = "2" value = "2">2</option>
        <option class="grade-button" id = "3" value = "3">3</option>
        <option class="grade-button" id = "4" value = "4">4</option>
        <option class="grade-button" id = "5" value = "5">5</option>
        <option class="grade-button" id = "6" value = "6">6</option>
        <option class="grade-button" id = "7" value = "7">7</option>
        <option class="grade-button" id = "8" value = "8">8</option>
        <option class="grade-button" id = "9" value = "9">9</option>
        <option class="grade-button" id = "10" value = "10">10</option>
        <option class="grade-button" id = "11" value = "11">11</option>
        <option class="grade-button" id = "12" value = "12">12</option>
        <option class="grade-button" id = "13" value = "13" selected>All</option>
      </select>
      </div>
    </div>
    </div>
</div>
</div>

<!-- Grade Selector JS -->
<script>
$(document).ready(function () {

  $('[name=gradeselect]').change(function() {
    console.log($('[name=gradeselect]').val());
    $.ajax({
      url:'/changeclassgrade/',
      method: 'post',
      data: {
        date: $("#datepicker").val(),
        grade: $('[name=gradeselect]').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $.fn.populategradetable(data);
      }
    });
  });

  $.fn.populategradetable = function(data) {
    students = data['attendancestudents'];
    $table = " ";
    for (i=0; i<students.length; i++) {

      var student = students[i];
      var studentref_id = student['studentref_id']
      var studentref_name = student['studentref_name']
      var studentref_grade = student['studentref_grade']
      var attendance = student['attendance']
      var checked_string = '';
        if(attendance){
          checked_string = 'checked';
        }
      $table +=   "<tr> <th scope = 'row'>" + studentref_id + "</th>\
                   <td>" + studentref_name + "</td>\
                   <td>" + studentref_grade + "</td>\
                   <td> <input id= " + studentref_id + " name = 'attendance' value = " + studentref_id + " type = 'checkbox' " + checked_string + " > </td></tr>";

    }

    $('#tbody').html($table)
  }
});

</script>

</body>
</html>
