<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>{{name}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Shreyhas Yachamaneni">
  <script src="float-panel.js"></script>

  <!-- CSS Import -->
  <link rel="stylesheet" href="{% static 'bootstrap_4.0.0/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <!-- jQuery, Popper, js import -->
  <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap_4.0.0/js/bootstrap.min.js' %}"></script>


  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>

  <style>
  .vertical-align-middle {
    vertical-align: middle;
}
a { color: inherit; }

.padding-bottom-3 {
    padding-bottom: 3px;
}
.input-date { width: 300px}
.input-date-sm { width: 200px}



  </style>
</head>
<body>
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'loginview' %}">
    <img src = "{% static 'images/Logo.png' %}" alt = "Logo" style="width:60px;height:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <button type = "button" class="dropdown-item" href="#" disabled>User ID: {{user_id}}</button>
      <div class="btn-group">
        <button type="button" class="btn bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{name}}<span class = "caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
        </div>
      </div>
      <button type="button" class="btn bg-light" data-container="body" data-toggle="popover" data-trigger = "focus" data-placement="bottom" data-content = "Notifications Here">
        <span class="material-icons">mail</span>
      </button>
      <button type="button" class="btn bg-light">
        <span class="material-icons">help</span>
      </button>
      <a href = "{% url 'logout' %}"><button type = "button" class = 'btn btn-danger'>
            <i class="material-icons vertical-align-middle padding-bottom-3">login</i>
      </button></a>
    </div>
  </div>
</nav>
<p></p>

<div class="text-right">
  <div class="btn-group" role="group" aria-label="Features">
    <button type="button" class="btn btn-sm bg-grey">
      <span class = "material-icons">upload</span>
    </button>
    <a href = "{% url 'schoolsettings' %}"<button type="button" class="btn btn-sm bg-grey">
      <span class = "material-icons">settings</span>
  </button></a>
    <button type="button" class="btn btn-sm bg-grey" data-toggle="modal" data-target="#exportmodal">
      <span class = "material-icons">download</span>
    </button>
    <a href="{% url 'classview' %}"><button type="button" class="btn btn-sm bg-grey">
      <span class = "material-icons">book</span>
    </button></a>
  </div>
</div>

<div class = 'container-fluid'>
<!-- Attendance and Date -->
<div class = 'row'>

  <!-- Attendance -->
  <div class = 'col-lg-8'>

    <!-- Attendance Form -->

    <div class = "container-fluid">
    <form method = "post" action = "{% url 'record' %}" enctype="multipart/form-data">
      <!-- Date Picker -->
    <div class="container-fluid">
    <div class="form-group row justify-content-center">
        <input class="form-control input-date" type="date" value="{{fdate}}" id="datepicker" name="datepicker">
    </div>
    </div>
    {% csrf_token %}
    <table class="table table-striped table-bordered" id="attendancedata">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Student Name</th>
          <th scope="col">
            Grade
          </th>
          <th scope="col">Attendance</th>
        </tr>
      </thead>
      <tbody id = 'tbody' >
        {% for student in attendancestudents %}
          <tr>
            <th scope="row">{{student.studentref.id}}</th>
            <td>{{student.studentref.name}}</td>
            <td>{{student.studentref.grade}}</td>
            <td>
                 <input id="student{{student.studentref.id}}" name = 'attendance' value = {{student.studentref.id}}
                 type = 'checkbox' {% if student.attendance %} checked {% endif %}>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class = 'btn btn-primary' type = 'submit'>Save</button>
    </form>
    </div>


  </div>

  <!-- Grade Selector, Viz, and Notifications -->
  <div class = 'col-lg-4'>


    <div class = 'container-fluid text-center'>
      <!-- Grade Selector -->
      <br><br>
      <h5><strong>Grade Selector</strong></h5>
      <div class="form-group">
        <select class="form-control" id="gradeselect" name="gradeselect">
        <option class="grade-button" id = "0" value = "0">KG</option>
        <option class="grade-button" id = "1" value = "1">1</option>
        <option class="grade-button" id = "2" value = "2">2</option>
        <option class="grade-button" id = "3" value = "3">3</option>
        <option class="grade-button" id = "4" value = "4">4</option>
        <option class="grade-button" id = "5" value = "5">5</option>
        <option class="grade-button" id = "6" value = "6">6</option>
        <option class="grade-button" id = "7" value = "7">7</option>
        <option class="grade-button" id = "8" value = "8">8</option>
        <option class="grade-button" id = "9" value = "9">9</option>
        <option class="grade-button" id = "10" value = "10">10</option>
        <option class="grade-button" id = "11" value = "11">11</option>
        <option class="grade-button" id = "12" value = "12">12</option>
        <option class="grade-button" id = "13" value = "13">All</option>
      </select>
      </div>
    </div>

    <!-- Data Viz -->
    <div class = 'row'>
      <div class = 'panel panel-default'>Attendance Policy Data Vizualization Here</div>
    </div>

  </div>
</div>

</div>



<!-- Export Modal -->
<div id = "exportmodal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Attendance Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method = "post" action="{% url 'export' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label><strong>Grades</strong></label>
          <div class="form-check">
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '0'>KG</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '1'>1</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '2'>2</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '3'>3</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '4'>4</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '5'>5</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '6'>6</label>
          </div>
          </div>
          <div class="form-check">
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '7'>7</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '8'>8</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '9'>9</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '10'>10</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '11'>11</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '12'>12</label>
          </div>
          </div>
        </div>
        <!-- Date -->
        <div class="form-group">
          <label><strong>Date</strong></label>
          <div class="form-group row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control input-date-sm" type="date" name = 'selectdate' value="{{fdate}}">
          </div>
        </div>
        <!-- Message -->
        <div class="form-group">
          <p>The file exported will be named as follows: export_YYYY-MM-DD</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" id="exportbutton" class="btn btn-primary">Export</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Popover Script -->
<script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>

<!-- Date Change JS -->
<script>
$(document).ready(function () {
  $("#datepicker").change(function() {
    $.ajax({
      url:'/changedate/',
      method: 'post',
      data: {
        date: $("#datepicker").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $.fn.populatetable(data);
      }
    });
  });

$.fn.populatetable = function(data) {
  console.log(data);
  students = data['attendancestudents'];
  $table = "";
  for (i=0; i<students.length; i++) {

    var student = students[i];
    console.log(student);
    var studentref_id = student['studentref_id']
    var studentref_name = student['studentref_name']
    var studentref_grade = student['studentref_grade']
    var attendance = student['attendance']
    console.log(attendance);
    var checked_string = '';
    if(attendance){
      checked_string = 'checked';
    }
    console.log(checked_string);
    $table +=   "<tr> <th scope = 'row'>" + studentref_id + "</th>\
                 <td>" + studentref_name + "</td>\
                 <td>" + studentref_grade + "</td>\
                 <td> <input id= " + studentref_id + " name = 'attendance' value = " + studentref_id + " type = 'checkbox' " + checked_string + " > </td></tr>";
  }

  $('#tbody').html($table)
}
});

</script>

<!-- Grade Selector JS -->
<script>
$(document).ready(function () {

  $('[name=gradeselect]').change(function() {
    console.log($('[name=gradeselect]').val());
    $.ajax({
      url:'/changegrade/',
      method: 'post',
      data: {
        date: $("#datepicker").val(),
        grade: $('[name=gradeselect]').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $.fn.populategradetable(data);
      }
    });
  });

  $.fn.populategradetable = function(data) {
    students = data['attendancestudents'];
    $table = " ";
    for (i=0; i<students.length; i++) {

      var student = students[i];
      var studentref_id = student['studentref_id']
      var studentref_name = student['studentref_name']
      var studentref_grade = student['studentref_grade']
      var attendance = student['attendance']
      var checked_string = '';
        if(attendance){
          checked_string = 'checked';
        }
      $table +=   "<tr> <th scope = 'row'>" + studentref_id + "</th>\
                   <td>" + studentref_name + "</td>\
                   <td>" + studentref_grade + "</td>\
                   <td> <input id= " + studentref_id + " name = 'attendance' value = " + studentref_id + " type = 'checkbox' " + checked_string + " > </td></tr>";

    }

    $('#tbody').html($table)
  }
});

</script>




</body>
</html>

