{% extends 'base.html' %}
{% load static %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'loginview' %}">
    <img src = "{% static 'images/Logo.png' %}" alt = "Logo" style="width:60px;height:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <button type = "button" class="dropdown-item" href="#" disabled>User ID: {{user_id}}</button>
      <div class="btn-group">
        <button type="button" class="btn bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{name}}<span class = "caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
        </div>
      </div>
      <button type="button" class="btn bg-light" data-container="body" data-toggle="collapse" data-trigger = "focus" data-placement="bottom"  data-target="#notifications">
        <span class="material-icons">mail</span>
      </button>
      <button type="button" class="btn bg-light">
        <span class="material-icons">help</span>
      </button>
      <a href = "{% url 'logout' %}"><button type = "button" class = 'btn btn-danger'>
            <i class="material-icons vertical-align-middle padding-bottom-3">login</i>
      </button></a>
    </div>
  </div>
</nav>

<div class = "container-fluid">
<div class="row justify-content-end">
<div class = "col-3">
  <div class = "collapse" id="notifications" style="z-index:10; position: absolute">
    <div class = 'card card-body text-right'>
      {% for request in requests %}
      <div id="container-fluid">
        <strong>
          {% if request.request_type == 'gatepass' %}
            Gate Pass for
          {% else %}
            Leave Request for
          {% endif %}
          {{request.studentref.name}}</strong><br>
        Grade: {{request.studentref.grade}}<br>
        From: {{request.parent_email}}<br>
        Date: {{request.date}}<br>
        <p></p>
        <button class = 'deny-request btn btn-danger' id = 'deny{{request.id}}' value = '{{request.id}}'>Deny</button>
        <button class = 'approve-request btn btn-primary' id = 'approve{{request.id}}' value = '{{request.id}}'>Approve</button>
      </div>
      <hr>
      {% endfor %}
      <br>
    <button id = 'refreshnotifications' class = 'btn btn-secondary'>Refresh</button>
    </div>
  </div>
</div>
</div>
  </div>
<p></p>

<div class="text-right">
  <div class="btn-group" role="group" aria-label="Features">
    <a href = "{% url 'schoolsettings' %}"<button type="button" class="btn btn-sm bg-grey">
      <span class = "material-icons">settings</span>
    </button></a>
    {% if not request.user.teacher %}
    <button type="button" class="btn btn-sm bg-grey" data-toggle="modal" data-target="#exportmodal">
      <span class = "material-icons">download</span>
    </button>
    {% endif %}
    <a href="{% url 'classview' %}"><button type="button" class="btn btn-sm bg-grey">
      <span class = "material-icons">book</span>
    </button></a>
  </div>
</div>

<div class = 'container-fluid'>
<!-- Attendance and Date -->
<div class = 'row'>

  <!-- Attendance -->
  <div class = 'col-lg-8'>

    <!-- Attendance Form -->

    <div class = "container-fluid">
    <form method = "post" action = "{% url 'record' %}" enctype="multipart/form-data">
      <!-- Date Picker -->
    <div class="container-fluid">
    <div class="form-group row justify-content-center">
        <input class="form-control input-date" type="date" value="{{fdate}}" id="datepicker" name="datepicker">
        &nbsp;&nbsp;<div class="spinner-border invisible" id="datechangespinner"></div>
    </div>
    </div>
    {% csrf_token %}
    <table class="table table-striped table-bordered" id="attendancedata">
      <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Student Name</th>
          <th scope="col">
            Grade
          </th>
          <th scope="col">Attendance</th>
        </tr>
      </thead>
      <tbody id = 'tbody' >
        {% for student in attendancestudents %}
          <tr>
            <th scope="row">{{student.studentref.id}}</th>
            <td>{{student.studentref.name}}</td>
            <td>{{student.studentref.grade}}</td>
            <td>
                 <input id="student{{student.studentref.id}}" name = 'attendance' value = {{student.studentref.id}}
                 type = 'checkbox' {% if student.attendance %} checked {% endif %} {% if student.on_leave %} disabled {% endif %}>
            </td>

          </tr>
        {% endfor %}
      </tbody>
    </table>
    <button class = 'btn btn-primary' type = 'submit'>Save</button>
    </form>
    </div>


  </div>

  <!-- Grade Selector, Viz, and Notifications -->
  <div class = 'col-lg-4'>


    <div class = 'container-fluid text-center'>
      <!-- Grade Selector -->
      <br><br>
      <h5><strong>Grade Selector</strong></h5>
      <div class="form-group">
        <select class="form-control" id="gradeselect" name="gradeselect">
        <option class="grade-button" id = "0" value = "0">KG</option>
        <option class="grade-button" id = "1" value = "1">1</option>
        <option class="grade-button" id = "2" value = "2">2</option>
        <option class="grade-button" id = "3" value = "3">3</option>
        <option class="grade-button" id = "4" value = "4">4</option>
        <option class="grade-button" id = "5" value = "5">5</option>
        <option class="grade-button" id = "6" value = "6">6</option>
        <option class="grade-button" id = "7" value = "7">7</option>
        <option class="grade-button" id = "8" value = "8">8</option>
        <option class="grade-button" id = "9" value = "9">9</option>
        <option class="grade-button" id = "10" value = "10">10</option>
        <option class="grade-button" id = "11" value = "11">11</option>
        <option class="grade-button" id = "12" value = "12">12</option>
        <option class="grade-button" id = "13" value = "13" selected>All</option>
      </select>
      </div>
    </div>

    <!-- Data Viz -->
    <div class = 'row'>
      <figure class="highcharts-figure">
      <div id="container"></div>
      <p class="highcharts-description">
        Present: {{present}}  Absent: {{absent}}
      </p>
      </figure>
    </div>

  </div>
</div>

</div>

<!-- Export Modal -->
<div id = "exportmodal" class="modal" tabindex="-1" role="dialog">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Export Attendance Data</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form method = "post" action="{% url 'export' %}" enctype="multipart/form-data">
      {% csrf_token %}
      <div class="modal-body">
        <div class="form-group">
          <label><strong>Grades</strong></label>
          <div class="form-check">
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '0'>KG</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '1'>1</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '2'>2</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '3'>3</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '4'>4</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '5'>5</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '6'>6</label>
          </div>
          </div>
          <div class="form-check">
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '7'>7</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '8'>8</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '9'>9</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '10'>10</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '11'>11</label>
          </div>
          <div class="form-check-inline">
            <label class = "form-check-label"><input name = 'grade-select' class="form-check-input" type="checkbox" checked value = '12'>12</label>
          </div>
          </div>
        </div>
        <!-- Date -->
        <div class="form-group">
          <label><strong>Date</strong></label>
          <div class="form-group row">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input class="form-control input-date-sm" type="date" name = 'selectdate' value="{{fdate}}">
          </div>
        </div>
        <!-- Message -->
        <div class="form-group">
          <p>The file exported will be named as follows: export_YYYY-MM-DD</p>
        </div>
      </div>
      <div class="modal-footer">
        <button type="submit" id="exportbutton" class="btn btn-primary">Export</button>
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
      </form>
    </div>
  </div>
</div>


<!-- Date and Grade Change JS -->
<script>
$(document).ready(function () {
  $("#datepicker").change(function() {
    $('#datechangespinner').removeClass("invisible")
    $.ajax({
      url:'/changedate/',
      method: 'post',
      data: {
        date: $("#datepicker").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $('#datechangespinner').addClass("invisible")
        $.fn.populatetable(data);
        $.fn.highchart(data);
      }
    });
  });

  $('[name=gradeselect]').change(function() {
    console.log($('[name=gradeselect]').val());
    $.ajax({
      url:'/changegrade/',
      method: 'post',
      data: {
        date: $("#datepicker").val(),
        grade: $('[name=gradeselect]').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $.fn.populategradetable_grade(data);
        $.fn.highchart_grade(data);
      }
    });
  });

  $.fn.populatetable = function(data) {
  console.log(data);
  students = data['attendancestudents'];
  $table = "";
  for (i=0; i<students.length; i++) {

    var student = students[i];
    console.log(student);
    var studentref_id = student['studentref_id']
    var studentref_name = student['studentref_name']
    var studentref_grade = student['studentref_grade']
    var on_leave = student['on_leave']
    var attendance = student['attendance']
    console.log(attendance);
    var checked_string = '';
    if(attendance){
      checked_string = 'checked';
    }
    var on_leave_string = '';
    if(on_leave){
      on_leave_string = 'disabled'
    }
    console.log(checked_string);
    $table +=   "<tr> <th scope = 'row'>" + studentref_id + "</th>\
                 <td>" + studentref_name + "</td>\
                 <td>" + studentref_grade + "</td>\
                 <td> <input id= " + studentref_id + " name = 'attendance' value = " + studentref_id + " type = 'checkbox' " + checked_string + on_leave_string +" > </td></tr>";
  }

  $('#tbody').html($table)
}

  $.fn.highchart = function(data) {
    var chart = {
                 plotBackgroundColor: null,
                 plotBorderWidth: null,
                 plotShadow: false
              };
              var title = {
                 text: 'Present vs. Absent'
              };
              var tooltip = {
                 pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              };
              var plotOptions = {
                 pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',

                    dataLabels: {
                       enabled: true,
                       format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                       style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor)||
                          'black'
                       }
                    }
                 }
              };
              var series = [{
                 type: 'pie',
                 name: 'Present vs. Absent',
                 data: [
                    ['Present',   data['present']],
                    {
                       name: 'Absent',
                       y: data['absent'],
                       sliced: true,
                       selected: true
                    },
                 ]
              }];
              var json = {};
              json.chart = chart;
              json.title = title;
              json.tooltip = tooltip;
              json.series = series;
              json.plotOptions = plotOptions;
              $('#container').highcharts(json);
  }

  $.fn.populategradetable_grade = function(data) {
    students = data['attendancestudents'];
    $table = " ";
    for (i=0; i<students.length; i++) {

      var student = students[i];
      var studentref_id = student['studentref_id']
      var studentref_name = student['studentref_name']
      var studentref_grade = student['studentref_grade']
      var on_leave = student['on_leave']
      var attendance = student['attendance']
      console.log(attendance);
      var checked_string = '';
      if(attendance){
        checked_string = 'checked';
      }
      var on_leave_string = '';
      if(on_leave){
        on_leave_string = 'disabled'
      }
      $table +=   "<tr> <th scope = 'row'>" + studentref_id + "</th>\
                   <td>" + studentref_name + "</td>\
                   <td>" + studentref_grade + "</td>\
                   <td> <input id= " + studentref_id + " name = 'attendance' value = " + studentref_id + " type = 'checkbox' " + checked_string + on_leave_string + " > </td></tr>";

    }

    $('#tbody').html($table)
  }

  $.fn.highchart_grade = function(data) {
    var chart = {
                 plotBackgroundColor: null,
                 plotBorderWidth: null,
                 plotShadow: false
              };
              var title = {
                 text: 'Present vs. Absent'
              };
              var tooltip = {
                 pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
              };
              var plotOptions = {
                 pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',

                    dataLabels: {
                       enabled: true,
                       format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                       style: {
                          color: (Highcharts.theme && Highcharts.theme.contrastTextColor)||
                          'black'
                       }
                    }
                 }
              };
              var series = [{
                 type: 'pie',
                 name: 'Present vs. Absent',
                 data: [
                    ['Present',   data['present']],
                    {
                       name: 'Absent',
                       y: data['absent'],
                       sliced: true,
                       selected: true
                    },
                 ]
              }];
              var json = {};
              json.chart = chart;
              json.title = title;
              json.tooltip = tooltip;
              json.series = series;
              json.plotOptions = plotOptions;
              $('#container').highcharts(json);
  }
});
</script>

<!-- HighCharts -->
<script language = "JavaScript">
$(document).ready(function() {
     var chart = {
       plotBackgroundColor: null,
       plotBorderWidth: null,
       plotShadow: false
    };
    var title = {
       text: 'Present vs. Absent'
    };
    var tooltip = {
       pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
    };
    var plotOptions = {
       pie: {
          allowPointSelect: true,
          cursor: 'pointer',

          dataLabels: {
             enabled: true,
             format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
             style: {
                color: (Highcharts.theme && Highcharts.theme.contrastTextColor)||
                'black'
             }
          }
       }
    };
    var series = [{
       type: 'pie',
       name: 'Present vs. Absent',
       data: [
          ['Present',   {{present}}],
          {
             name: 'Absent',
             y: {{absent}},
             sliced: true,
             selected: true
          },
          ['On Leave', {{leave}}]
       ]
    }];
    var json = {};
    json.chart = chart;
    json.title = title;
    json.tooltip = tooltip;
    json.series = series;
    json.plotOptions = plotOptions;
    $('#container').highcharts(json);
});
</script>

<!--Notifications-->

<script>
$(document).ready(function () {

  $(document).on('click', '.approve-request', function() {
    console.log('clicked');
    console.log($(this).val());
    $.ajax({
      url:'/updaterequest/',
      method: 'post',
      data: {
        rolename: '{{rolename|safe}}',
        approved: true,
        request_id: $(this).val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        id = data['id']
        $('#approve'+id).attr('disabled','disabled')
        $('#deny'+id).attr('disabled','disabled')
      }
    });

  });

  $(document).on('click', '.deny-request', function() {
    console.log('deny clicked');
    console.log($(this).val());
    $.ajax({
      url:'/updaterequest/',
      method: 'post',
      data: {
        rolename: '{{rolename|safe}}',
        approved: false,
        request_id: $(this).val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        id = data['id']
        $('#approve'+id).attr('disabled','disabled')
        $('#deny'+id).attr('disabled','disabled')
      }
    });

  });

  $(document).on('click', '#refreshnotifications', function() {
    console.log('refresh');
    $.ajax({
      url:'/notifications/',
      method: 'post',
      data: {
        rolename: '{{rolename|safe}}',
        user_id: 'user_id',
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $.fn.refreshnotifications(data)

      }
    });

  });

  $.fn.refreshnotifications = function(data) {
    $notifications = "<div class = 'card card-body text-right'>"
    var requests = data['requests']
    var studentinfo = data['studentinfo']
    console.log(requests)
    console.log(studentinfo)

    for (i=0; i<requests.length; i++) {
      var request = requests[i]
      var student = studentinfo[i]
      var request_id = request['id']
      var type = request['request_type']
      var date = request['date']
      var parentemail = request['parent_email']
      var typestring = ''
      if (type == 'gatepass'){
        typestring = 'Gate Pass for '
      } else {
        typestring = 'Leave Request for '
      }

      var name = student[0]
      var grade = student[1]

    $notifications += "<div id='container-fluid'><strong>"+ typestring + name +"</strong><br>\
                        Grade: "+ grade +"<br>\
                        From: "+ parentemail +"<br>\
                        Date: "+ date +"<br>\
                        <p></p>\
                        <button class = 'deny-request btn btn-danger' type = 'button' id = 'deny"+ request_id +"' value = "+request_id+">Deny</button>\
                        <button class = 'approve-request btn btn-primary' type = 'button' id = 'approve"+ request_id +"' value = "+request_id+">Approve</button>\
                        </div><hr>"

    }
    $('#notifications').html($notifications + "<button id = 'refreshnotifications' class = 'btn btn-secondary'>Refresh</button></div>")
  }

});
</script>
{% endblock content %}

