{% extends 'base.html' %}
{% load static %}
{% block title %}
School Settings
{% endblock title %}

{% block content %}
<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'loginview' %}">
    <img src = "{% static 'images/Logo.png' %}" alt = "Logo" style="width:60px;height:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav ml-auto">
      <button type = "button" class="dropdown-item" href="#" disabled>User ID: {{user_id}}</button>
      <div class="btn-group">
        <button type="button" class="btn bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{name}}<span class = "caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
        </div>
      </div>
      <button type="button" class="btn bg-light" data-container="body" data-toggle="popover" data-trigger = "focus" data-placement="bottom" data-content = "Notifications Here">
        <span class="material-icons">mail</span>
      </button>
      <button type="button" class="btn bg-light">
        <span class="material-icons">help</span>
      </button>
      <a href = "{% url 'logout' %}"><button type = "button" class = 'btn btn-danger'>
            <i class="material-icons vertical-align-middle padding-bottom-3">login</i>
      </button></a>
    </div>
  </div>
</nav>

<div class = "container-fluid form-group">
{% if request.user.is_superuser %}
  <hr>
<!--School Settings List Group-->
<div class="row">

  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">School Options</h5>

    </div>
      <a class="list-group-item list-group-item-action active" id="list-schooldates-list" data-toggle="list" href="#list-schooldates" role="tab" aria-controls="home">School Start/End Dates</a>

    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-schooldates" role="tabpanel" aria-labelledby="list-schooldates-list">
        <div class = "container-fluid">
          <form method = "post" action = "{% url 'schooldatesettings' %}" enctype="multipart/form-data">
          {% csrf_token %}
            <div class="modal-body">
              <div class="form-group">
                <label><strong>Start Date</strong></label>
                <div class="form-group row">
                  <input name = "schoolstartdate" class="form-control input-date-sm" type="date">
                </div>
                <label><strong>End Date</strong></label>
                <div class="form-group row">
                  <input name = "schoolenddate" class="form-control input-date-sm" type="date">
                </div>
                <small>Please limit use of this feature to the beginning of the school year.</small>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="savebutton" class="btn btn-primary">Save</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
  <hr>
<!--Staff Settings List Group-->
<div class="row">

  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Staff Options</h5>

    </div>
      <a class="list-group-item list-group-item-action active" id="list-importteachers-list" data-toggle="list" href="#list-importteachers" role="tab" aria-controls="home">Import Teachers</a>
      <a class="list-group-item list-group-item-action" id="list-addstaff-list" data-toggle="list" href="#list-addstaff" role="tab" aria-controls="profile">Add Staff</a>
      <a class="list-group-item list-group-item-action" id="list-modifyst-list" data-toggle="list" href="#list-modifyst" role="tab" aria-controls="profile">Modify Staff</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-importteachers" role="tabpanel" aria-labelledby="list-importteachers-list">

        <div class = "container-fluid">
        <form method="post" action="{% url 'importteachers' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <h6>Teacher Data Import</h6>
          <input class = "form-control-sm" id = 'teacherdata' name = "teacherdata" type="file"><br>
          <label for="teacherdata"><small>&nbsp;&nbsp;Please use the template provided and ensure the file type is .xlsx</small></label>
        </div>
        <div class="modal-footer">
          <button type="submit" id="teacherdataimportbutton" class="btn btn-primary">Upload</button>
        </div>
      </form>
        </div>

      </div>
      <div class="tab-pane fade" id="list-addstaff" role="tabpanel" aria-labelledby="list-importaddstaff-list">

        <div class = "container-fluid">

        <div class="modal-body">
          <h6>Add Staff</h6>
          <div class = 'form-group'>
            <div class="form-group">
              <label for="stafftype">Staff Type</label>
              <select id="stafftype" name="stafftype" class="form-control">
                <option selected>...</option>
                <option class="staffselectbutton" value = "teacher">Teacher</option>
                <option class="staffselectbutton" value = "admin">Administrator</option>
              </select>
            </div>
          </div>
          <div class = "form-row">
            <div class="form-group col-md-8">
              <label for="staffname">Name</label>
              <input type="text" class="form-control" id="staffname" aria-describedby="staffname" placeholder="Staff Name">
            </div>
            <div class="form-group col-md-4">
            <label for="coordinatorselect">Coordinator</label>
            <select id="coordinatorselect" name="coordinatorselect" class="form-control" disabled>
              <option class="coordinatorselectbutton" value = "N" selected>No</option>
              <option class="coordinatorselectbutton" value = "Y">Yes</option>
            </select>
          </div>
          </div>
          <div class = "row">
            <div class="col">
              <label for="staffphone">Phone</label>
              <input type="text" class="form-control" id="staffphone" placeholder="Staff Phone Number">
            </div>
            <div class="col">
              <label for="staffemail">Email</label>
              <input type="email" class="form-control" id="staffemail" placeholder="Staff Email ID">
            </div>
          </div>
          <br>
          <div class = "form-group">
            <div>
              <label for="staffpassword">Password</label>
              <input type="password" class="form-control" id="staffpassword" placeholder="Password">
            </div>
          </div>
          <div class = "form-group">
            <div>
              <label for="grades">Grades</label>
              <input type="email" class="form-control" id="grades" placeholder="Ex: 10,11,12" disabled>
              <small>Only include if staff is a coordinator and use the following format: 10,11,12</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="submit" id="addstaffbutton" class="btn btn-primary">Add Staff</button>
        </div>

        </div>

      </div>
      <div class="tab-pane fade" id="list-modifyst" role="tabpanel" aria-labelledby="list-modifyst-list">

        <div class = "container-fluid">

        <div class="modal-body">
          <h6>Add Staff</h6>
          <div class = 'row'>
            <div class="form-group col">
              <label for="sttype">Staff Type</label>
              <select id="sttype" name="sttype" class="form-control">
                <option selected>...</option>
                <option class="stselectbutton" value = "t">Teacher</option>
                <option class="stselectbutton" value = "a">Administrator</option>
              </select>
            </div>
            <div class = "form-group col">
              <label for="stselect">Select Staff</label>
              <select id = "stselect" name = "stselect" class = 'form-control' disabled>
                <div id="populatestselect"></div>
              </select>
            </div>
          </div>
          <div class = "form-row">
            <div class="form-group col-md-8">
              <label for="stname">Name</label>
              <input type="text" class="form-control" id="stname" aria-describedby="stname" placeholder="Staff Name" disabled>
            </div>
            <div class="form-group col-md-4">
            <label for="stcoordinatorselect">Coordinator</label>
            <select id="stcoordinatorselect" name="stcoordinatorselect" class="form-control" disabled>
              <option class="stcoordinatorselectbutton" value = "N" selected>No</option>
              <option class="stcoordinatorselectbutton" value = "Y">Yes</option>
            </select>
          </div>
          </div>
          <div class = "row">
            <div class="col">
              <label for="stphone">Phone</label>
              <input type="text" class="form-control" id="stphone" placeholder="Staff Phone Number" disabled>
            </div>
            <div class="col">
              <label for="stemail">Email</label>
              <input type="email" class="form-control" id="stemail" placeholder="Staff Email ID" disabled>
            </div>
          </div>
          <br>
          <div class = "form-group">
            <div>
              <label for="stpassword">Change Password</label>
              <input type="password" class="form-control" id="stpassword" placeholder="Password" disabled>
            </div>
          </div>
          <div class = "form-group">
            <div>
              <label for="stgrades">Grades</label>
              <input type="email" class="form-control" id="stgrades" placeholder="Ex: 10,11,12" disabled>
              <small>Only include if staff is a coordinator and use the following format: 10,11,12</small>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" id="stdeletebutton" class="btn btn-primary">Delete</button>
          <button type="button" id="stmodifybutton" class="btn btn-primary">Modify</button>
        </div>

        </div>

      </div>
    </div>
  </div>
</div>
  <hr>
{% endif %}
<!--Student Settings List Group-->
<div class="row">

  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Student Options</h5>

    </div>
      <a class="list-group-item list-group-item-action active" id="list-importstudents-list" data-toggle="list" href="#list-importstudents" role="tab" aria-controls="home">Import Students</a>
      <a class="list-group-item list-group-item-action" id="list-importparents-list" data-toggle="list" href="#list-importparents" role="tab" aria-controls="home">Import Parents</a>
      <a class="list-group-item list-group-item-action" id="list-addstudents-list" data-toggle="list" href="#list-addstudents" role="tab" aria-controls="profile">Add Students</a>
      <a class="list-group-item list-group-item-action" id="list-addparents-list" data-toggle="list" href="#list-addparents" role="tab" aria-controls="messages">Add Parents</a>
      <a class="list-group-item list-group-item-action" id="list-modifysp-list" data-toggle="list" href="#list-modifysp" role="tab" aria-controls="messages">Modify Students/Parents</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-importstudents" role="tabpanel" aria-labelledby="list-importstudents-list">
        <div class = "container-fluid">
        <form method="post" action="{% url 'importstudents' %}" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="modal-body">
          <h6>Student Data Import</h6>
          <input class = "form-control-sm" id = 'studentdata' name = "studentdata" type="file"><br>
          <label for="studentdata"><small>&nbsp;&nbsp;Please use the template provided and ensure the file type is .xlsx</small></label>
        </div>
        <div class="modal-footer">
          <button type="submit" id="studentdataimportbutton" class="btn btn-primary">Upload</button>
        </div>
      </form>
        </div>
      </div>
      <div class="tab-pane fade" id="list-importparents" role="tabpanel" aria-labelledby="list-importparents-list">

        <div class = "container-fluid">
        <form method="post" action="{% url 'importparents' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="modal-body">
          <h6>Parent Data Import</h6>
          <input class = "form-control-sm" id = 'parentdata' name = "parentdata" type="file"><br>
          <label for="parentdata"><small>&nbsp;&nbsp;Please use the template provided and ensure the file type is .xlsx</small></label>
        </div>
        <div class="modal-footer">
          <button type="submit" id="parentdataimportbutton" class="btn btn-primary">Upload</button>
        </div>
      </form>
        </div>

      </div>
      <div class="tab-pane fade" id="list-addstudents" role="tabpanel" aria-labelledby="list-addstudents-list">
        <div class = "container-fluid">


        <div class = "modal-header">
          <h6>Add Student</h6>
        </div>
        <div class="modal-body">
          <div class = "form-row">
            <div class="form-group col-md-8">
              <label for="studentname">Student Name</label>
              <input type="text" class="form-control" id="studentname" aria-describedby="studentname" placeholder="Enter name">
            </div>
            <div class="form-group col-md-4">
            <label for="studentgrade">Grade</label>
            <select id="studentgrade" name="gradeselect" class="form-control">
              <option selected></option>
              <option class="student-grade-button" id = "0" value = "0">KG</option>
              <option class="student-grade-button" id = "1" value = "1">1</option>
              <option class="student-grade-button" id = "2" value = "2">2</option>
              <option class="student-grade-button" id = "3" value = "3">3</option>
              <option class="student-grade-button" id = "4" value = "4">4</option>
              <option class="student-grade-button" id = "5" value = "5">5</option>
              <option class="student-grade-button" id = "6" value = "6">6</option>
              <option class="student-grade-button" id = "7" value = "7">7</option>
              <option class="student-grade-button" id = "8" value = "8">8</option>
              <option class="student-grade-button" id = "9" value = "9">9</option>
              <option class="student-grade-button" id = "10" value = "10">10</option>
              <option class="student-grade-button" id = "11" value = "11">11</option>
              <option class="student-grade-button" id = "12" value = "12">12</option>
            </select>
          </div>
          </div>
          <div class = "row">
            <div class="col">
              <label for="studentphone">Student Phone</label>
              <input type="text" class="form-control" id="studentphone" placeholder="Enter student's phone number">
            </div>
            <div class="col">
              <label for="studentemail">Student Email</label>
              <input type="email" class="form-control" id="studentemail" placeholder="Enter student's email ID">
            </div>
          </div>
          <br>
          <div class = "row">
            <div class="col">
              <label for="fathersemail">Fathers Email</label>
              <input type="email" class="form-control" id="fathersemail" placeholder="Enter father's email ID">
            </div>
            <div class="col">
              <label for="mothersemail">Mothers Email</label>
              <input type="email" class="form-control" id="mothersemail" placeholder="Enter mother's email ID">
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="submit" id="studentaddbutton" class="btn btn-primary">Add Student</button>
        </div>
          <div class="addstudenterrormessage"></div>
        </div>
      </div>
      <div class="tab-pane fade" id="list-addparents" role="tabpanel" aria-labelledby="list-addparent-list">

        <div class = "container-fluid">


        <div class = "modal-header">
          <h6>Add Parent</h6>
        </div>
        <div class="modal-body">
          <div class = "row">
            <div class="col">
              <label for="parentname">Name</label>
              <input type="text" class="form-control" id="parentname" placeholder="Parent Name">
            </div>
            <div class="col">
              <label for="parentemail">Email</label>
              <input type="email" class="form-control" id="parentemail" placeholder="Parent Email">
            </div>
          </div>

        </div>

        <div class="modal-footer">
          <button type="button" id="parentaddbutton" class="btn btn-primary">Add Parent</button>
        </div>
          <div class="addparenterrormessage"></div>
        </div>

      </div>
      <div class="tab-pane fade" id="list-modifysp" role="tabpanel" aria-labelledby="list-modifysp-list">

        <div class = "container-fluid">


        <div class = "modal-header">
          <h6>Modify Student/Parent</h6>
        </div>
        <div class="modal-body">
          <div class = "row">
            <div class = "form-group col">
              <select id="spselect" name = "spselect" class = 'form-control'>
                <option selected></option>
                <option value = "p">Parent</option>
                <option value = "s">Student</option>
              </select>
            </div>
            <div class = "col">
              <select id = "spobjselect" class = 'form-control' disabled>
                <div id="spobj"></div>
              </select>
            </div>
          </div>
          <div class = "form-row">
            <div class="form-group col-md-8">
              <label for="spname">Name</label>
              <input type="text" class="form-control" id="spname" aria-describedby="spname" placeholder="" disabled>
            </div>
            <div class="form-group col-md-4">
            <label for="spgrade">Grade</label>
            <select id="spgrade" name="spgradeselect" class="form-control" disabled >
              <option selected></option>
              <option class="student-grade-button" id = "0" value = "0">KG</option>
              <option class="student-grade-button" id = "1" value = "1">1</option>
              <option class="student-grade-button" id = "2" value = "2">2</option>
              <option class="student-grade-button" id = "3" value = "3">3</option>
              <option class="student-grade-button" id = "4" value = "4">4</option>
              <option class="student-grade-button" id = "5" value = "5">5</option>
              <option class="student-grade-button" id = "6" value = "6">6</option>
              <option class="student-grade-button" id = "7" value = "7">7</option>
              <option class="student-grade-button" id = "8" value = "8">8</option>
              <option class="student-grade-button" id = "9" value = "9">9</option>
              <option class="student-grade-button" id = "10" value = "10">10</option>
              <option class="student-grade-button" id = "11" value = "11">11</option>
              <option class="student-grade-button" id = "12" value = "12">12</option>
            </select>
          </div>
          </div>
          <div class = "row">
            <div class="col">
              <label for="spphone">Phone</label>
              <input type="text" class="form-control" id="spphone" placeholder="" disabled>
            </div>
            <div class="col">
              <label for="spemail">Email</label>
              <input type="email" class="form-control" id="spemail" placeholder="" disabled>
            </div>
          </div>
          <br>
          <div class = "row">
            <div class="col">
              <label for="spfathersemail">Fathers Email</label>
              <input type="email" class="form-control" id="spfathersemail" placeholder="" disabled>
            </div>
            <div class="col">
              <label for="spmothersemail">Mothers Email</label>
              <input type="email" class="form-control" id="spmothersemail" placeholder="" disabled>
            </div>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" id="spdeletebutton" class="btn btn-primary">Delete</button>
          <button type="button" id="spmodifybutton" class="btn btn-primary">Modify</button>
        </div>
          <div class="addparenterrormessage"></div>
        </div>

      </div>
    </div>
  </div>
</div>
  <hr>
<!--Class Settings List Group-->
<div class="row">

  <div class="col-3">
    <div class="list-group" id="list-tab" role="tablist">
      <div class="d-flex w-100 justify-content-between">
      <h5 class="mb-1">Class Options</h5>

    </div>
      <a class="list-group-item list-group-item-action active" id="list-addsubjects-list" data-toggle="list" href="#list-addsubjects" role="tab" aria-controls="home">Add Subjects</a>
      <a class="list-group-item list-group-item-action" id="list-addclass-list" data-toggle="list" href="#list-addclass" role="tab" aria-controls="home">Add Classes</a>
      <a class="list-group-item list-group-item-action" id="list-addsec-list" data-toggle="list" href="#list-addsec" role="tab" aria-controls="home">Add Homeroom Class</a>
      <a class="list-group-item list-group-item-action" id="list-assign-list" data-toggle="list" href="#list-assign" role="tab" aria-controls="home">Assign Students: Classes</a>
      <a class="list-group-item list-group-item-action" id="list-assignsec-list" data-toggle="list" href="#list-assignsec" role="tab" aria-controls="home">Assign Students: Sections</a>
    </div>
  </div>
  <div class="col-9">
    <div class="tab-content" id="nav-tabContent">
      <div class="tab-pane fade show active" id="list-addsubjects" role="tabpanel" aria-labelledby="list-addsubjects-list">
        <div class = "container-fluid">

            <div class="modal-body">
              <div class="form-group">
                <label><strong>Add Subject</strong></label>
                <div class="form-group">
                    <label for="subjectname">Subject Name</label>
                    <input type="text" class="form-control" id="subjectname" aria-describedby="subjectname" placeholder="Enter name of subject">
                </div>
                <small>Ex: Physics HL (Note: Don't include grade or block)</small>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="addsubjectbutton" class="btn btn-primary">Add</button>
            </div>

        </div>
      </div>
      <div class="tab-pane fade" id="list-addclass" role="tabpanel" aria-labelledby="list-addclass-list">
        <div class = "container-fluid">

            <div class="modal-body">
              <div class="form-group">
                <label><strong>Add Class</strong></label>
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="classsubject">Subject</label>
                    <select id="classsubject" name="classsubjectselect" class="form-control">
                      <option selected></option>
                      {% for subject in subjects %}
                        <option class="class-subject-button" id = "{{subject.name}}" value = "{{subject.id}}">{{subject.name}}</option>
                      {% endfor %}
                    </select>
                    <small>If subjects don't appear please refresh the page</small>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="classgrade">Class Grade</label>
                    <select id="classgrade" name="classgradeselect" class="form-control">
                      <option selected></option>
                      <option class="class-grade-button" id = "0" value = "0">KG</option>
                      <option class="class-grade-button" id = "1" value = "1">1</option>
                      <option class="class-grade-button" id = "2" value = "2">2</option>
                      <option class="class-grade-button" id = "3" value = "3">3</option>
                      <option class="class-grade-button" id = "4" value = "4">4</option>
                      <option class="class-grade-button" id = "5" value = "5">5</option>
                      <option class="class-grade-button" id = "6" value = "6">6</option>
                      <option class="class-grade-button" id = "7" value = "7">7</option>
                      <option class="class-grade-button" id = "8" value = "8">8</option>
                      <option class="class-grade-button" id = "9" value = "9">9</option>
                      <option class="class-grade-button" id = "10" value = "10">10</option>
                      <option class="class-grade-button" id = "11" value = "11">11</option>
                      <option class="class-grade-button" id = "12" value = "12">12</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="classblock">Block</label>
                    <input id="classblock" name="classblock" class="form-control" type="text">
                    <small>Ex. C6</small>
                  </div>
                  <div class="form-group col-md-8">
                    <label for="classsubject">Teacher</label>
                    <select id="classteacher" name="classteacherselect" class="form-control">
                      <option selected></option>
                      {% for teacher in teachers %}
                        <option class="class-subject-button" id = "{{teacher.name}}" value = "{{teacher.id}}">{{teacher.name}}</option>
                      {% endfor %}
                    </select>
                    <small>If teachers don't appear please refresh the page</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="addclassbutton" class="btn btn-primary">Add</button>
            </div>

        </div>
      </div>
      <div class="tab-pane fade" id="list-addsec" role="tabpanel" aria-labelledby="list-addsec-list">
        <div class = "container-fluid">

            <div class="modal-body">
              <div class="form-group">
                <label><strong>Add Homeroom Class</strong></label>
                <div class="form-row">
                  <div class="form-group col-md-8">
                    <label for="classsecgrade">Class Grade</label>
                    <select id="classsecgrade" name="classsecgradeselect" class="form-control">
                      <option selected></option>
                      <option class="class-grade-button" id = "0" value = "0">KG</option>
                      <option class="class-grade-button" id = "1" value = "1">1</option>
                      <option class="class-grade-button" id = "2" value = "2">2</option>
                      <option class="class-grade-button" id = "3" value = "3">3</option>
                      <option class="class-grade-button" id = "4" value = "4">4</option>
                      <option class="class-grade-button" id = "5" value = "5">5</option>
                      <option class="class-grade-button" id = "6" value = "6">6</option>
                      <option class="class-grade-button" id = "7" value = "7">7</option>
                      <option class="class-grade-button" id = "8" value = "8">8</option>
                      <option class="class-grade-button" id = "9" value = "9">9</option>
                      <option class="class-grade-button" id = "10" value = "10">10</option>
                      <option class="class-grade-button" id = "11" value = "11">11</option>
                      <option class="class-grade-button" id = "12" value = "12">12</option>
                    </select>
                  </div>
                  <div class="form-group col-md-4">
                    <label for="classsec">Section</label>
                    <input id="classsec" name="classsec" class="form-control" type="text">
                    <small>Ex. A</small>
                  </div>
                  <div class="form-group col-md-8">
                    <label for="classsecteacher">Teacher</label>
                    <select id="classsecteacher" name="classsecteacherselect" class="form-control">
                      <option selected></option>
                      {% for teacher in teachers %}
                        <option class="class-subject-button" id = "{{teacher.name}}" value = "{{teacher.id}}">{{teacher.name}}</option>
                      {% endfor %}
                    </select>
                    <small>If teachers don't appear please refresh the page</small>
                  </div>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button type="submit" id="addclasssecbutton" class="btn btn-primary">Add</button>
            </div>

        </div>
      </div>
      <div class="tab-pane fade" id="list-assign" role="tabpanel" aria-labelledby="list-assign-list">
        <div class = "container-fluid">

            <div class="modal-body">
              <label><strong>Assign Students</strong></label>
              <div class="form-group">
                <label for="classdata">Select Class</label>
                <select class = "form-control" id="classdata">
                  {% for class in classes %}
                  {% if not class.is_homeroom %}
                    <option value = "{{class.id}}">{{class}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div id="addedstudents"></div><br>
              <div class="form-group">
                <label for="studentdatalist">Select Student</label>
                <select id="studentdatalist" class = 'form-control'>
                  {% for student in students %}
                    <option value = "{{student.id}}">{{student}}</option>
                  {% endfor %}
                </select>
                <div id="'errormessage"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button id="addclassstudentbutton" class="btn btn-primary">Save and Add Another</button>
              <button id="saveclassstudentbutton" class="btn btn-primary">Save and Change Class</button>
            </div>

        </div>
      </div>
      <div class="tab-pane fade" id="list-assignsec" role="tabpanel" aria-labelledby="list-assignsec-list">
        <div class = "container-fluid">

            <div class="modal-body">
              <label><strong>Assign Students: Sections</strong></label>
              <div class="form-group">
                <label for="classsecdata">Select Class</label>
                <select class = "form-control" id="classsecdata">
                  {% for class in classes %}
                  {% if class.is_homeroom %}
                    <option value = "{{class.id}}">{{class}}</option>
                  {% endif %}
                  {% endfor %}
                </select>
              </div>
              <div id="addedstudents-sec"></div><br>
              <div class="form-group">
                <label for="studentdatalistsec">Select Student</label>
                <select id="studentdatalistsec" class = 'form-control'>
                  {% for student in students %}
                    <option value = "{{student.id}}">{{student}}</option>
                  {% endfor %}
                </select>
                <div id="'errormessagesec"></div>
              </div>
            </div>
            <div class="modal-footer">
              <button id="addclassstudentsecbutton" class="btn btn-primary">Save and Add Another</button>
              <button id="saveclassstudentsecbutton" class="btn btn-primary">Save and Change Class</button>
            </div>

        </div>
      </div>

    </div>
  </div>
</div>
</div>


<!--Adding Students, Parents, and Classes-->
<script>
$(document).ready(function () {

  $('#addsubjectbutton').click(function() {
    console.log('triggered')
    $.ajax({
      url:'/addsubject/',
      method: 'post',
      data: {
        name: $("#subjectname").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#subjectname").val("")
      }
    });
  });

  $('#addclassbutton').click(function() {
    console.log('triggered')
    $.ajax({
      url:'/addclass/',
      method: 'post',
      data: {
        type: '',
        section: '',
        subject: $("[name=classsubjectselect]").val(),
        grade: $("[name=classgradeselect]").val(),
        teacher: $("[name=classteacherselect]").val(),
        block: $("#classblock").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("[name=classsubjectselect]").val("")
        $("[name=classgradeselect]").val("")
        $("[name=classteacherselect]").val("")
        $("#classblock").val("")
      }
    });
  });

  $('#addclasssecbutton').click(function() {
    console.log('triggered')
    $.ajax({
      url:'/addclass/',
      method: 'post',
      data: {
        type: 'homeroom',
        section: $("#classsec").val(),
        grade: $("[name=classsecgradeselect]").val(),
        teacher: $("[name=classsecteacherselect]").val(),
        subject: '',
        block: '',
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#classsec").val("")
        $("[name=classsecgradeselect]").val("")
        $("[name=classsecteacherselect]").val("")
      }
    });
  });

  $('#studentaddbutton').click(function() {
    $.ajax({
      url:'/addstudent/',
      method: 'post',
      data: {
        name: $("#studentname").val(),
        grade: $('[name=gradeselect]').val(),
        phone: $('#studentphone').val(),
        email: $('#studentemail').val(),
        femail: $('#fathersemail').val(),
        memail: $('#mothersemail').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $("#studentname").val("")
        $('[name=gradeselect]').val("")
        $('#studentphone').val("")
        $('#studentemail').val("")
        $('#fathersemail').val("")
        $('#mothersemail').val("")
      }
    });
  });

  $('#parentaddbutton').click(function() {
    $.ajax({
      url:'/addparent/',
      method: 'post',
      data: {
        name: $("#parentname").val(),
        email: $('#parentemail').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        $('.addparenterrormessage') = data['message']
      }
    });
  });

  $('[name=stafftype]').change(function() {
      if ($('[name=stafftype]').val() == 'teacher') {
        $('[name=coordinatorselect]').removeAttr('disabled')
      }
      if ($('[name=stafftype]').val() == 'admin') {
        $('[name=coordinatorselect]').attr('disabled','disabled')
      }
  });
  $('[name=coordinatorselect]').change(function() {
      if ($('[name=coordinatorselect]').val() == 'Y') {
        $('#grades').removeAttr('disabled')
      }
      if ($('[name=coordinatorselect]').val() == 'N') {
        $('#grades').attr('disabled','disabled')
      }
  });

  $('#addstaffbutton').click(function() {

    $.ajax({
      url:'/addstaff/',
      method: 'post',
      data: {
        stafftype: $('[name=stafftype]').val(),
        name: $("#staffname").val(),
        phone: $('#staffphone').val(),
        email: $('#staffemail').val(),
        coordinator: $('[name=coordinatorselect]').val(),
        password: $('#staffpassword').val(),
        grades: $('#grades').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log('Staff Added')
      }
    });
  });

});
</script>

<script>

$(document).ready(function () {

  $('#classdata').on('change', function () {
    $("#addedstudents").html('')
    $.ajax({
      url:'/modifyclassstudent/',
      method: 'post',
      data: {
		action: 'load',
		classref: $('#classdata').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        students = data['students']
        for ( i=0; i<students.length;i++){
          student = students[i]
          var name = student['name']

          $("#addedstudents").append('<span class="badge badge-primary">' + name + '</span>&nbsp;&nbsp;')
        }
      }
    });

  });

  $('#classsecdata').on('change', function () {
    $("#addedstudents").html('')
    $.ajax({
      url:'/modifyclassstudent/',
      method: 'post',
      data: {
		action: 'load',
		classref: $('#classsecdata').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        students = data['students']
        for ( i=0; i<students.length;i++){
          student = students[i]
          var name = student['name']

          $("#addedstudents-sec").append('<span class="badge badge-primary">' + name + '</span>&nbsp;&nbsp;')
        }
      }
    });

  });

  $('#addclassstudentbutton').click(function() {

    console.log($('#classdata').val())

    $.ajax({
      url:'/modifyclassstudent/',
      method: 'post',
      data: {
		action: 'add',
		classref: $('#classdata').val(),
        student: $("#studentdatalist").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $('#classdata').attr('disabled', 'disabled')
        $("#studentdatalist").val("")
        if(data['student'] != ''){
          $("#addedstudents").append('<span class="badge badge-primary">' + data['student'] + '</span>&nbsp;&nbsp;')
        }
      }
    });
  });

  $('#addclassstudentsecbutton').click(function() {

    console.log($('#classdata').val())

    $.ajax({
      url:'/modifyclassstudent/',
      method: 'post',
      data: {
		action: 'add',
		classref: $('#classsecdata').val(),
        student: $("#studentdatalistsec").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $('#classsecdata').attr('disabled', 'disabled')
        $("#studentdatalistsec").val("")
        if(data['student'] != ''){
          $("#addedstudents-sec").append('<span class="badge badge-primary">' + data['student'] + '</span>&nbsp;&nbsp;')
        }
      }
    });
  });

  $('#saveclassstudentbutton').click(function() {

    $.ajax({
      url:'/modifyclassstudent/',
      method: 'post',
      data: {
		action: 'save',
		classref: $('#classdata').val(),
        student: $("#studentdatalist").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $('#classdata').attr('disabled', 'disabled')
        $("#studentdatalist").val("")
        if(data['student'] != ''){
          $("#addedstudents").append('<span class="badge badge-primary">' + data['student'] + '</span>&nbsp;&nbsp;')
        }
        setTimeout(function(){
          $('#classdata').removeAttr('disabled')
          $('#classdata').val('')
          $("#studentdatalist").val("")
          $("#addedstudents").html("")
        },700);

      }
    });
  });

  $('#saveclassstudentsecbutton').click(function() {

    $.ajax({
      url:'/modifyclassstudent/',
      method: 'post',
      data: {
		action: 'save',
		classref: $('#classsecdata').val(),
        student: $("#studentdatalistsec").val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function(data) {
        console.log(data)
        $('#classsecdata').attr('disabled', 'disabled')
        $("#studentdatalistsec").val("")
        if(data['student'] != ''){
          $("#addedstudents-sec").append('<span class="badge badge-primary">' + data['student'] + '</span>&nbsp;&nbsp;')
        }
        setTimeout(function(){
          $('#classsecdata').removeAttr('disabled')
          $('#classsecdata').val('')
          $("#studentdatalistsec").val("")
          $("#addedstudents-sec").html("")
        },700);

      }
    });
  });

});

</script>

<!--Modify-->
<script>
$(document).ready(function () {

  $('[name=spselect]').on('change',function () {

    console.log($('#spselect').val())

    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 's_or_p',
        user_to_change: $('#spselect').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log(data)
        $('#spobjselect').removeAttr('disabled')

        if (data['isStudent']){
          $('#spname').removeAttr('disabled')
          $('#spemail').removeAttr('disabled')
          $('#spgrade').removeAttr('disabled')
          $('#spphone').removeAttr('disabled')
          $('#spmothersemail').removeAttr('disabled')
          $('#spfathersemail').removeAttr('disabled')
          var sp = data['sp']
          $spoptions = '<option selected>...</option>'
          for (i=0;i<sp.length;i++) {
            spobj = sp[i]
            var sp_id = spobj['id']
            var sp_name = spobj['name']
            var sp_grade = spobj['grade']
            $spoptions+='<option value="'+ sp_id +'">' + sp_name + ' ' + sp_grade + '</option>'
          }
        } else {
          $('#spname').removeAttr('disabled')
          $('#spemail').removeAttr('disabled')
          $('#spgrade').attr('disabled','disabled')
          $('#spphone').attr('disabled','disabled')
          $('#spmothersemail').attr('disabled','disabled')
          $('#spfathersemail').attr('disabled','disabled')
          var sp = data['sp']
          $spoptions = '<option selected>...</option>'
          for (i=0;i<sp.length;i++) {
            spobj = sp[i]
            var sp_id = spobj['id']
            var sp_name = spobj['name']
            $spoptions+='<option value="'+ sp_id +'">' + sp_name + '</option>'
          }
        }


        $('#spobjselect').html($spoptions)

      }
    });
  });

  $('#spobjselect').on('change',function (){

    console.log('selected')
    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 'get_sp_data',
        user_to_change: $('#spselect').val(),
        user_selected: $('#spobjselect').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log(data)
        sp = data['spobj']
        if (data['isStudent']) {
          $('#spname').val(sp['name'])
          $('#spemail').val(sp['email'])
          $('#spgradeselect').val(sp['grade'])
          $('#spphone').val(sp['phone'])
          $('#spmothersemail').val(sp['mothers_email'])
          $('#spfathersemail').val(sp['fathers_email'])
        } else {
          $('#spname').val(sp['name'])
          $('#spemail').val(sp['email'])
        }
      }
    });


  });

  $('#spmodifybutton').on('click',function (){

    console.log('modify')
    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 'modify',
        user_to_change: $('#spselect').val(),
        user_selected: $('#spobjselect').val(),
        name: $('#spname').val(),
        email: $('#spemail').val(),
        grade: $('#spgradeselect').val(),
        phone: $('#spphone').val(),
        memail: $('#spmothersemail').val(),
        fmail: $('#spfathersemail').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log(data)
        sp = data['spobj']
        $('#spobjselect').val('')
        $('#spname').val('')
        $('#spname').attr('disabled','disabled')
        $('#spemail').val('')
        $('#spemail').attr('disabled','disabled')
        $('#spgradeselect').val('')
        $('#spgradeselect').attr('disabled','disabled')
        $('#spphone').val('')
        $('#spphone').attr('disabled','disabled')
        $('#spmothersemail').val('')
        $('#spmothersemail').attr('disabled','disabled')
        $('#spfathersemail').val('')
        $('#spfathersemail').attr('disabled','disabled')

      }
    });


  });

  $('#spdeletebutton').on('click',function (){

    console.log('delete')
    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 'delete',
        user_to_change: $('#spselect').val(),
        user_selected: $('#spobjselect').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log('deleted')
        $('#spobjselect').val('')
        $('#spname').val('')
        $('#spname').attr('disabled','disabled')
        $('#spemail').val('')
        $('#spemail').attr('disabled','disabled')
        $('#spgradeselect').val('')
        $('#spgradeselect').attr('disabled','disabled')
        $('#spphone').val('')
        $('#spphone').attr('disabled','disabled')
        $('#spmothersemail').val('')
        $('#spmothersemail').attr('disabled','disabled')
        $('#spfathersemail').val('')
        $('#spfathersemail').attr('disabled','disabled')
      }
    });


  });

  //modify staff

  $('[name=sttype]').on('change',function () {

    console.log($('#sttype').val())

    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 't_or_a',
        user_to_change: $('#sttype').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log(data)
        $('#stselect').removeAttr('disabled')

        if (data['isTeacher']){
          $('#stname').removeAttr('disabled')
          $('#stemail').removeAttr('disabled')
          $('#stgrades').removeAttr('disabled')
          $('#stphone').removeAttr('disabled')
          $('#stcoordinatorselect').removeAttr('disabled')
          var st = data['st']
          $stoptions = '<option selected>...</option>'
          for (i=0;i<st.length;i++) {
            stobj = st[i]
            var st_id = stobj['id']
            var st_name = stobj['name']
            $stoptions+='<option value="'+ st_id +'">' + st_name + '</option>'
          }
        } else {
          $('#stname').removeAttr('disabled')
          $('#stemail').removeAttr('disabled')
          $('#stphone').attr('disabled','disabled')
          var st = data['st']
          $stoptions = '<option selected>...</option>'
          for (i=0;i<st.length;i++) {
            stobj = st[i]
            var st_id = stobj['id']
            var st_name = stobj['name']
            $stoptions+='<option value="'+ st_id +'">' + st_name + '</option>'
          }
        }

        $('#stselect').html($stoptions)

      }
    });
  });

  $('#stselect').on('change',function (){

    console.log('selected')
    console.log()
    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 'get_st_data',
        user_to_change: $('#sttype').val(),
        user_selected: $('[name=stselect]').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log(data)
        st = data['stobj']
        var isCoordinator = st['is_coordinator']
        var val = 'N'
        console.log(isCoordinator)
        if(isCoordinator) {
          val = 'Y'
        } else {
          val = 'N'
        }
        console.log(val)
        if (data['isTeacher']) {
          $('#stname').val(st['name'])
          $('#stemail').val(st['email'])
          $('#stphone').val(st['phone'])
          $('#stcoordinatorselect').val(val)
          $('#stgrades').val(st['grades'])

        } else {
          $('#stname').val(st['name'])
          $('#stemail').val(st['email'])
          $('#stphone').val(st['phone'])
        }
      }
    });


  });

  $('#spmodifybutton').on('click',function (){

    console.log('modify')
    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 'modify',
        user_to_change: $('#sttype').val(),
        user_selected: $('#stselect').val(),
        name: $('#stname').val(),
        email: $('#stemail').val(),
        grades: $('#stgrades').val(),
        phone: $('#stphone').val(),
        is_coordinator: $('#stcoordinatorselect').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log(data)
        sp = data['spobj']
        $('#sttype').val('')
        $('#stselect').val('')
        $('#stselect').attr('disabled', 'disabled')
        $('#stname').val('')
        $('#stname').attr('disabled','disabled')
        $('#stemail').val('')
        $('#stemail').attr('disabled','disabled')
        $('#stgrades').val('')
        $('#stgrades').attr('disabled','disabled')
        $('#stphone').val('')
        $('#stphone').attr('disabled','disabled')

      }
    });


  });

  $('#stdeletebutton').on('click',function (){

    console.log('deletestaff')
    $.ajax({
      url: '/schoolsettings/modify/',
      method: 'post',
      data: {
        action: 'deletestaff',
        user_to_change: $('#sttype').val(),
        user_selected: $('#stselect').val(),
        csrfmiddlewaretoken: '{{ csrf_token }}'
      },
      success: function (data) {
        console.log('deleted')
        $('#sttype').val('')
        $('#stselect').val('')
        $('#stselect').attr('disabled', 'disabled')
        $('#stname').val('')
        $('#stname').attr('disabled','disabled')
        $('#stemail').val('')
        $('#stemail').attr('disabled','disabled')
        $('#stgrades').val('')
        $('#stgrades').attr('disabled','disabled')
        $('#stphone').val('')
        $('#stphone').attr('disabled','disabled')

      }
    });


  });

});
</script>

{% endblock %}
