<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <title>{{name}}</title>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Shreyhas Yachamaneni">
  <script src="float-panel.js"></script>

  <!-- CSS Import -->
  <link rel="stylesheet" href="{% static 'bootstrap_4.0.0/css/bootstrap.css' %}">
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">


  <!-- jQuery, Popper, js import -->
  <script src="{% static 'jquery/jquery-3.5.1.min.js' %}"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="{% static 'bootstrap_4.0.0/js/bootstrap.min.js' %}"></script>

  <!-- HighCharts Import  -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/accessibility.js"></script>


  <script type="text/javascript">
    window.CSRF_TOKEN = "{{ csrf_token }}";
  </script>

  <style>
  .vertical-align-middle {
    vertical-align: middle;
}
a { color: inherit; }

.padding-bottom-3 {
    padding-bottom: 3px;
}
.input-date { width: 300px}
.input-date-sm { width: 200px}



  </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'loginview' %}">
    <img src = "{% static 'images/Logo.png' %}" alt = "Logo" style="width:60px;height:50px;">
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Class ID: {{class_id}}<span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Class: {{class_name}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Teacher: {{teacher_name}}</a>
      </li>
    </ul>
    <div class="navbar-nav ml-auto">
      <button type = "button" class="dropdown-item" href="#" disabled>User ID: {{user_id}}</button>
      <div class="btn-group">
        <button type="button" class="btn bg-light dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          {{name}}<span class = "caret"></span>
        </button>
        <div class="dropdown-menu dropdown-menu-right">
        </div>
      </div>
      <button type="button" class="btn bg-light" data-container="body" data-toggle="popover" data-trigger = "focus" data-placement="bottom" data-content = "Notifications Here">
        <span class="material-icons">mail</span>
      </button>
      <button type="button" class="btn bg-light">
        <span class="material-icons">help</span>
      </button>
      <a href = "{% url 'logout' %}"><button type = "button" class = 'btn btn-danger'>
        <i class="material-icons vertical-align-middle padding-bottom-3">login</i>
      </button></a>
    </div>
  </div>
</nav>

<p></p>
<div class = 'container-fluid row'>
  <!-- Student List-->
  <div class = 'col-8'>

    <form method = "post" action = "{% url 'save' class_id %}" enctype="multipart/form-data">
      {% csrf_token %}
      <table class="table table-striped table-bordered">
        <thead>
        <tr>
          <th scope="col">ID</th>
          <th scope="col">Name</th>
          <th scope="col">Present</th>
        </tr>
        </thead>
        <tbody>
        {% csrf_token %}
        {% for cs in classstudents %}
        <tr>
          <th scope="row">{{cs.student.id}}</th>
          <td>{{cs.student.name}}</td>
          <td><input id="student{{cs.student.id}}" name = 'attendance' value = {{cs.student.id}}
                     type = 'checkbox' {% if cs.attendance %} checked {% endif %}>

          </td>
        </tr>
        {% endfor %}

        </tbody>
      </table>
      <button class = 'btn btn-primary' type = 'submit'>Save</button>
    </form>
  </div>

  <!-- Other -->
  <div class = 'col-4 text-center'>
    <div class = 'container-fluid'>

      <!-- Data Viz -->
        <figure class="highcharts-figure">
          <div id="container"></div>
          <p class="highcharts-description">
          </p>
        </figure>
    </div>
  </div>

  <!-- Popover Script -->
  <script>
  $(document).ready(function(){
    $('[data-toggle="popover"]').popover();
  });
</script>

<script language = "JavaScript">
         $(document).ready(function() {
            var chart = {
               plotBackgroundColor: null,
               plotBorderWidth: null,
               plotShadow: false
            };
            var title = {
               text: 'Present vs. Absent'
            };
            var tooltip = {
               pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
            };
            var plotOptions = {
               pie: {
                  allowPointSelect: true,
                  cursor: 'pointer',

                  dataLabels: {
                     enabled: true,
                     format: '<b>{point.name}%</b>: {point.percentage:.1f} %',
                     style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor)||
                        'black'
                     }
                  }
               }
            };
            var series = [{
               type: 'pie',
               name: 'Present vs. Absent',
               data: [
                  ['Present',   {{present}}],
                  {
                     name: 'Absent',
                     y: {{absent}},
                     sliced: true,
                     selected: true
                  }
               ]
            }];
            var json = {};
            json.chart = chart;
            json.title = title;
            json.tooltip = tooltip;
            json.series = series;
            json.plotOptions = plotOptions;
            $('#container').highcharts(json);
         });
      </script>
</body>
</html>